{% extends 'template_base.html' %}
{% block titre %}Eléments{% endblock %}

{% block contenu %}

<h2>{{ element.titre }} </h2>
<h2>{{ element.id }} </h2>
{% if element.image %}
<img src="{{ element.image.url }}" alt="{{ element.titre }}">
{% else %}
<img src="{{ element.url }}" alt="{{ element.titre }}">
{% endif %}

{% if element.favori %}
   <button class="btn btn-outline-second" >
        <a href="{% url 'elements:detail' idelement=element.id %}">
        FAVORI</a>
   </button>

   <form action="{% url 'elements:update' %}" method="POST">
    {% csrf_token %}
    <input name="id" value="{{element.id}}" >
    <button class="btn btn-outline-second" type="submit">Search</button>
</form>
{% endif %}

{% endblock %}